    body{
        background-color: darksalmon;
        color: darkslateblue;
    }
    .head{
        width: 80%;
        font-size: 30px;
    }
    #name_of_object{
        color: brown;
    }
    #accuracy_of_the_machine{
        color: brown;
    }
    .camera{
        width: 320px;
        height: 300px;
        border: 2px dashed darkolivegreen;
    }
p{
    font-size: 22px;
}